$sheet-bgcolor: transparent;
.sheet {
  background-color: $sheet-bgcolor;
  margin-top: 1rem;

  &__title {
    color: #cc4c2b;
    margin: 0 1rem;
  }

  &__description {
    margin: 1rem 1rem 1rem;
    font-size: 1.15rem;
  }
}
