.side-scroller {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  border-top: 1px solid rgba(0,0,0,0.16);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  // Temporary !important as an override
  &__tab {
    background-color: map-get($colors, primary-dark);
    color: transparentize(map-get($colors, text-primary-dark), 0.4);
    border-width: 1px;
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 1.3rem;
    min-width: 8rem;
    border-bottom: 3px solid transparent;
    flex-grow: 1;
    text-align: center;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &--active {
      color: map-get($colors, text-primary-dark);
      border-bottom: 3px solid map-get($colors, secondary);
    }
  }

}
