.side-scroller {
  border-top: 1px solid rgba(0,0,0,0.16);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 100%;
  background-color: #EEEEEE;
  position: relative;

  &__items {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }

  // Temporary !important as an override
  &__tab {
    // background-color: map-get($colors, primary-dark);
    background-color: #EEEEEE;
    color: transparentize(map-get($colors, text-secondary-light), 0.2);
    border-width: 1px;
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 1.3rem;
    min-width: 8rem;
    border-bottom: 3px solid transparent;
    flex-grow: 1;
    text-align: center;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &--active {
      color: map-get($colors, primary-dark);
      border-bottom: 3px solid map-get($colors, secondary);
      animation: border-expand 0.2s cubic-bezier(0.4, 0.0, 0.4, 1) alternate forwards;
    }
    @keyframes border-expand {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}
