$signup-card-list-col-header-color: #98562e;
$signup-card-list-row-header-color: #b17f5c;
$signup-card-list-card-bgcolor: #FFFFFF;
$signup-card-list-header-text-color: #FFFFFF;

.signup-card-list {
  &__row-header {
    background-color: $signup-card-list-card-bgcolor;
    color: map-get($colors, text-primary);
    font-size: 1.5rem;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: none;
    padding-bottom: 0;
  }

  &__card {
    margin: 1rem 1rem 1.5rem 1rem;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }

  &__card-body {
    padding: 1rem;
    background-color: $signup-card-list-card-bgcolor;
    padding-top: 0;
  }
}
