$signup-table-col-header-color: #98562e;
$signup-table-row-header-color: #b17f5c;
$signup-table-cell-color: #f1e4c2;
$signup-table-focused-cell-color: darken($signup-table-cell-color, 10%);
$signup-table-header-text-color: #FFFFFF;

.signup-table {
  border-spacing: 2px;
  border-collapse: separate;

  &__column-header {
    background-color: $signup-table-col-header-color;
    color: $signup-table-header-text-color
  }

  &__row-header {
    background-color: $signup-table-row-header-color;
    color: $signup-table-header-text-color
  }

  &__header {
    text-align: center;
  }

  &__cell {
    background-color: $signup-table-cell-color;
    &--focused {
      background-color: $signup-table-focused-cell-color;
    }
  }

  &.table {
    td.signup-table__cell {
      vertical-align: bottom;
    }
    th.signup-table__header {
        vertical-align: middle;
    }
  }
}
