$colors: (
  primary: #b17f5c,
  primary-light: #e5ae89,
  primary-dark: #7f5332,
  secondary: #cc4c2b,
  secondary-light: #ff7c56,
  secondary-dark: #941800,
  text-primary: transparentize(#000000, 0.24),
  text-primary-dark: #FFFFFF,
  text-secondary: #FFFFFF,
  text-secondary-light: transparentize(#000000, 0.24)
)
